img.resize1 {
  /* max-width:10%; */
  width: 1.5rem;
}

img.resize2 {
  /* max-width:10%; */
  width: 1.2rem;
}

img.right {
  position: absolute;
  right: 4;
  top: 10;
}

img.modal_att {
  width: 30;
  height: 30; 
  margin-right: 5;
}

img.addField {
  margin: 5;
  width: 20;
  height: 20; 
}

img.addField:hover {
  background-color: #ffcccc;
}