input.small {
    font-size: small;
}

input.x-small {
    font-size: x-small;
}

input.addField {
  margin: 5;
  width: 20;
  height: 20; 
}

input.addField:hover {
  background-color: #ffcccc;
}

input.validation {
  margin-left: 3;
  width: 20;
  height: 20; 
  float: right;
}

input.zoomField {
  width: 20;
  height: 20; 
  margin-top: 3;
  margin-right : 3;
}