img.modal_att {
  width: 25; 
  height: 25; 
  margin-top: 3;
}

input.xx-small {
    font-size: 0.5em;
}

input.close {
  top: 7;
  width: 1.4rem;
}

input.topcorner {
  width: 1.3rem;
}

input.resize1 {
  width: 1.2rem;
}

input.zoomFieldBack {
  width: 1.2rem;
  top: 8;
}

input.right {
  top: 7;
}

h6.h7 {
  font-size: small;
}

.right {
  width:24%;  
}

.date {
  font-size: xx-small;
}


.card-header{
  padding:.60rem 1.25rem;
  margin-bottom:0;
  background-color:rgba(0,0,0,.03);
}

.card-body{
  -webkit-box-flex:1;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  padding:0.8rem
}

.small,small{
  font-size:70%;
  font-weight:350
}

.form-check-input{
  position:absolute;
  margin-top:.2rem;
  margin-left:-1.25rem
}

.form-row{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-5px;
  margin-left:-5px;
  margin-top: 0;
}


.card{
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  min-width:0;
  word-wrap:break-word;
  background-color:#fff;
  background-clip:border-box;
  border:1px solid rgba(0,0,0,.125);
  border-radius:.25rem
}