img.modal_att {
  width: 30;
  height: 30; 
}

input.xx-small {
    font-size: x-small;
}

input.close {
  top: 10;
  width: 1.5rem;
}

input.topcorner {
  width: 1.7rem;
}

input.resize1 {
  width: 1.5rem;
}

input.zoomFieldBack {
  width: 1.3rem;
  top: 13;
}

input.right {
  top: 10;
}

h6.h7 {
  /* font-size: small; */
}

.right {
  width:20%;  
}

.date {
  font-size: x-small;
}